html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
}

::selection {
  background: #985aa3;
  color: #ffffff;
}

nav, header, main {
  width: 100%;
}

main {
  padding-right: 16.5%;
  padding-left: 16.5%;
}

main {
  padding-bottom: 50px;
}

nav {
  transition: height 250ms;
  background: #985aa3;
  overflow: hidden;
  position: fixed;
  height: 0px;
}

nav.active {
  height: 56px;
}

nav img {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  display: table;
  width: 40px;
}

header {
  margin-bottom: 120px;
  padding-top: 50px;
  min-height: 400px;
  background: #985aa3;
  overflow: hidden;
}

header img {
  width: 196px;
}

header img, header h1 {
  margin-right: auto;
  margin-left: auto;
  display: table;
}

nav a {
  cursor: pointer;
}

a {
  transition: border 250ms;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #ffffff;
  color: #985aa3;
}

a:hover {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #985aa3;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-kerning: normal;
}

h3 {
  margin-top: 50px;
}

pre code {
  display: block;
}

img.ribbon {
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
}

hr {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 0;
  background-color: #eeeeee;
  color: #eeeeee;
  height: 1px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  text-indent: -0.7em;
  padding-left: 1em;
}

li:before {
  padding-right: 0.5em;
  content: "\25A0";
  color: #985aa3;
}

body {
  font-family: 'Crimson Text', serif;
  font-size: 22px;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 42px;
  color: #ffffff;
}

h2 {
  font-size: 32px;
  color: #985aa3;
}

h3 {
  font-size: 22px;
  color: #985aa3;
}

code {
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
}

.hl {
  border-width: 1px;
  border-style: solid;
  border-color: #eeeeee;
  overflow-x: auto;
  padding: 0.25em;
  vertical-align: text-bottom;
  display: inline-block;
  background: #f8f8f8;
  color: #5a5a5a;
}

pre .hl {
  padding: 0.5em;
  display: block;
}

.hl .mi {
  color: #f49756;
}

.hl .s {
  color: #3aa87c;
}

.hl .nf, .hl .nv, .hl .k, .hl .kd {
  color: #985aa3;
}

.hl .ss {
  color: #e65e4d;
}

.hl .c1 {
  color: #a0a0a0;
}